# Programming for Applied Data Science - Lab 1 Part A

Normally, your lab would consist of exercises covering content from both of the programming and data wrangling notebooks for a module. This first module is special since we are just starting out. The module will take two weeks where I expect you to finish the Introduction to Programming with Python, Part A notebook during the first week.

This lab will only use topics from the Introduction to Programming with Python, Part A notebook.

-----
## 1 Data Types and Operations     

### 1.1 Strings   

It is hard to believe that early computers did not support handling text. Luckily, Python has both a string data type and several operations that it can perform on strings. A handy list of Python string operations is available at [W3Schools](https://www.w3schools.com/python/python_ref_string.asp).

In [4]:
# Python is very flexible, strings can be enclosed with single quotes (') 
# or double quotes (")
print("Hello")
print('World')
print()

# The only that it really matters is when you want a ' or " in a string
# Then you use the opposite quotes to enclose your string.

print('He said,"That is strange."')
print()
# a. write the line of code that prints 
#    She goes by 'Beth'

print("She goes by 'Beth'")

Hello
World

He said,"That is strange."

She goes by 'Beth'

In [6]:
# There are case conversion functions for strings.
name = "George Washington"
uc_name = name.upper()
print(name)
print(uc_name)
print()

# Note that the function did not modify the original string
# name = name.upper()
# would change the contents of 'name'

# b. write the code to store the lowercase version of the string to 
#    'lcname' and then print 'name' and 'lcname'

# COMMENT forgot to print the value of name
lcname = name.lower()
print(lcname)

# There are also swapcase() and title() functions

George Washington
GEORGE WASHINGTON

george washington

In [9]:
# Replacing characters within a string
filename = "test input.csv"
# What if we wanted _ instead of spaces inside the string
filename = filename.replace(' ', '_')
print(filename)  
print() 

data_string = "Jim:Carbona:32:Married"
data_string = data_string.replace(':', ',')
print(data_string)

# c. Replace the : in the data string with ,
#    and then print the data string

test_input.csv

Jim,Carbona,32,Married

In [11]:
# Splitting a string is another common operation.
name = "George Washington Carver"
names = name.split(' ')  # Creates a list of strings
print(names)
print()

data_string = "Jim:Carbona:32:Married"
data_string = data_string.split(":")
print(data_string)
# d. Split the data string on ':' and then print the
#    list containing the individual pieces of data

['George', 'Washington', 'Carver']

['Jim', 'Carbona', '32', 'Married']

In [14]:
# Python also has many tests to run on strings...
# endswith(), startswith(), isalpha(), isnumeric(), isdecimal(), isspace()
city1 = "Starkville, MS"
city2 = "Starkville, CO"

print(city1.endswith("MS"))
print(city2.endswith("MS"))
print()

input1 = "23"  # numeric
input2 = "Twenty three and a half"  # not numeric, Python does not understand English

# e. Print whether or not the input variables are numeric
print(input1.isnumeric())
print(input2.isnumeric())

True
False

True
False

### 1.2 Numeric Types  

Both integers and floating point numbers have many operators (+, -, *, /, etc.) defined. Here are a few of the operators that we don't use very often but come up quite often in programs.

Division of integers has quite a few operators. As people, we are used to dividing integers and getting the result as a:
* floating point number (5/2 = 2.5)
* quotient and remainder (5/2 = 2 remainder 1, often expressed as [2 R 1](https://www.omnicalculator.com/math/remainder?calculatorResult=H4sIAAAAAAAAA81YTW%2FbMAz9K5mwwwqkQZxil6ArsLXYkEO7Q9ZdhqJQbNbRKsuZPoIFRf77KDl27CR2%2FZEUu0m09Pj4RJqWXwiIkAmYaqqBjF%2BIT7lvOE6Cn1QyOuOg7mgEiox%2FkTkLAhCPy%2FQB6RMBIdVsCY8SIspEAHJ00OqhtbDkj4k1A6FH%2BQde7oFHHvrEn1MRHqISsCVDLgFuqMXKK%2BW69VdBKrfDsopFwDSLhbKKMbEwujCw5FQsB0MyTse9d596QwRKeQ88fMbURGgIQX5IzWebJXb3aG8FWs%2FIuk9io%2Fc9vRAtWYhLmQhTvaxcZCwM532ypNzgREsD6yKP5js39JpsXONWwwoyzXjsP3%2BTsVkoF2ymQu%2ByN%2ByhZql2OD3rUbRvzyTVM48xHEQUCfmAcAM%2F5iYS1jg8rLQD3NfXmfOH5gyV1HZoeFsaXmsaNTEH%2FtyIZzvEnNSYue4YhFaF3Lvak6o5npfDu6yLV5LknWL2Uo5eaczuoK7Ss2usQoUHr9JDfV3KPYzyHi5PEMJFlYP9CEYnyOYyzNezOdG9NenX07um7M0dVJ5r7Qg6FVQZZt2Cak26Zj21lr1tOdkICu10pyPV7G9PlCvbGev1og6g5Z2lHDT%2FpVRs5J37yytOUeEj%2B6z%2FrdJAvUrQTupVF9bbOz2NfJW196b%2BLjr5K290XU%2BqVbs7QSSnKqxWzfD4%2Fo5QyK065AkiOVUNt%2Bqfjfy5ex6CLEEqvCB%2FjWVkOLX3ZLQDWq%2F%2Fq%2F8L8FdLekM1dRdT9TlYUuFDsImmj6bbeMY4ZAajQLrfJLERWq6u48Am1%2F0UgX0jJQh%2F5eY3OcN0Fc1ijub3aORUhIaGsNkJ4txtRtxJtECNKb8XTKv01twnT4mE1noDC8xgC3lLF4mk9nAPSImhRVQYyif2sq1yvwoS8hFa7QY7w5SY%2F8Yl5AsL70w0g1zbJiOyubcno6yKmqF8zFBwtE65Hf6rk3w2ZI4e0u%2Bz74Kvsh1JiA4%2BC64rr%2F5xJNpL4mZowwzNjQ5lejPAcy9DTIaHSqoZ5BbRjbYV1Um4bcU2g7nIYNyotVA7UbVWZ0fwtcPyY8azf6zU6FjRJSRZjO9hThcKgkmwyes58MUPfDXlSzx5ooCDj%2B9O946YchO6N%2Bt6%2FQ92oGUFxxUAAA%3D%3D))

In [26]:
dividend = 5
divisor = 2

answer1 = dividend / divisor
print(dividend, " / ", divisor, " = ", answer1)
print()

answer2 = dividend // divisor  # obtains the quotient (an integer)
# the % operator is called the 'modulo' operator
answer3 = dividend % divisor  # obtains the remainder
print(dividend, " / ", divisor, " = ", answer2, " R ", answer3)
print()

# The modulo operator is surprising useful, it lets you know if a 
# number is evenly divisible by the divisor
print("Divisible by 3?")
print("3: ", 3%3 == 0)
print("4: ", 4%3 == 0)
print("5: ", 5%3 == 0)
print("6: ", 6%3 == 0)
print()

# a. Print the numbers 1 through 5 and whether each is even (divisible by 2)
#    (Feel free to use a loop if you would like)
print("Even?")

numerical_range = range(1, 6, 1)

for number in numerical_range:
    print(number, ": ", end = "")
    print(number %2 == 0)

5  /  2  =  2.5

5  /  2  =  2  R  1

Divisible by 3?
3:  True
4:  False
5:  False
6:  True

Even?
1 : False
2 : True
3 : False
4 : True
5 : False

<br>

Converting strings to numbers is often needed. Most of the time, user input is read as a string. 
If the program needs to do math on the input, the input must be converted to a numeric type.

In [31]:
input1 = "23"
input2 = "4"

int1 = int(input1)
int2 = int(input2)
print(int1, ' + ', int2, ' = ', int1 + int2)
print()

# b. Assign input3 and input4 strings that represent floating point numbers
#    Create two floating point variables containing the values expressed by the
#    input strings (Hint: float()). Print the result of multiplying the two 
#    floating point numbers.

# COMMENT was expecting input3 and input4 to be strings: "7.25" and "9.30",
#         but your code would still work since you used the float() function

#FIX
input3 = "7.25"
input4 = "9.30"

string1 = float(input3)
string2 = float(input4)
print(string1, ' * ', string2, ' = ', string1*string2)

23  +  4  =  27

7.25  *  9.3  =  67.42500000000001

### 1.3 Boolean Values  

We often see Boolean values (`True` or `False`) when testing numbers (==, <, <=, >, >=) or when calling Python functions (`isnumeric()`, `islower()`, etc.).  These Boolean values are most often used in Loops and Decision Making (next section).

In [29]:
# Python uses and, or, and not as the Boolean operators
#
# 'and' returns true if ALL of the tested values are true
answer1 = True and True and True
print(answer1)
answer2 = True and False and True
print(answer2)
print()

# is 33 less than 50 AND even?
# you can use () to make the statement easier to read
answer3 = (33<50) and (33%2 == 0)  #  == is the equal test
print(answer3)

# is 33 less than 50 and odd?
answer4 = (33<50) and (33%2 != 0)  #  != is the not equal test
print(answer4)

True
False

False
True

In [30]:
# 'or' returns true if ANY of the tested values are true
answer1 = True or True or True
print(answer1)
answer2 = True or False or True
print(answer2)
print()

# is 33 less than 50 OR even?
# you can use () to make the statement easier to read
answer3 = (33<50) or (33%2 == 0)  #  == is the equal test
print(answer3)

# is 33 less than 50 or odd?
answer4 = (33<50) or (33%2 != 0)  #  != is the not equal test
print(answer4)
print()

# the only way for 'or' to return false is for all of the tested
# values be false
answer5 = False or False or False or False
print(answer5)

True
True

True
True

False

In [17]:
# a. Print true if the input is greater than 0 and less than 101
#    (Between 1 and 100, inclusive)
#    Change the input several times to verify that your statement works
input1 = 47
answer1 = (input1>0) and (input1<101) 
print(answer1)
print()

input2 = 83
answer2 = (input2>0) and (input2<101)
print(answer2)
print()

#unsure if "between 1 and 100, inclusive" is mor instructions for code output or just instructions for input value
# COMMENT intended it to clarify the instructions for code output, but I may have made it more
#         confusing instead

input3 = 3
answer3 = (input3>0) and (input3<101)
print(answer3)
print()

# COMMENT Might want to check values outside of 1 to 100 to make sure the code works (try 0, -1, 200, etc.)

input4 = -1
answer4 = (input4>0) and (input4<101)
print(answer4)
print()

input5 = 0
answer5 = (input5>0) and (input5<101)
print(answer5)
print()

input6 = 298
answer6 = (input6>0) and (input6<101)
print(answer6)
print()

True

True

True

False

False

False

-----
## 2 Loops, Data Collections, and Decision Making

In [37]:
# Numeric loops usually use range to generate values
for i in range(1, 11):
    print(i, end="  ")
print()

# Counting backwards
for i in range(10, 0, -1):
    print(i, end="  ")
print()

# Count by 3s to 20
for i in range(1, 21, 3):
    print(i, end="  ")
print()
print()

# a. Print the numbers from 4 to 64 by 4s

# COMMENT meant for you to print the 64 as well (-5 pts)
#for i in range(4, 64, 4):
    #print( i, end=" ") 
#print()
#I will read instructions more carefully from now on
for i in range(4, 70, 4):
    print( i, end=" ") 
print()

1  2  3  4  5  6  7  8  9  10
10  9  8  7  6  5  4  3  2  1
1  4  7  10  13  16  19

4 8 12 16 20 24 28 32 36 40 44 48 52 56 60 64 68

In [51]:
# a loop can also "walk" through a list
sales = [324, 1575, 125, 500]
for each in sales:
    print(each)
print()

# Assume that you work at a furniture store that is have a "no sales tax" sale.
# a_list contains your sales for the day
# for each sale, list the amount of sales tax (8%) that the store owes the state

print(each, "  ", each * 0.08)
print()

# b. Using a loop, compute your sales total and sales tax owed for the day
#    (Don't worry if the sales tax total looks funny, we will learn about
#     formatting floating point numbers in Part B)

# COMMENT Did not use a loop, what if we had 100 days of sales figures instead of just 4?
sales_total = (324 + 1575 + 125 + 500)
sales_tax = (sales_total * 0.08)

for each in sales:
    print(sales_total, " ", sales_tax)  
print() 
#Is this more what you were looking for? Also, I don't think it's your explanations. I think I'm having a hard time getting back in the swing of graduate school, so I'm not quite understanding
for each in sales:
    print(sum(sales) * 0.08)
print()

#I think I'm doing something wrong/missing the right syntax 

# COMMENT This is the pythonic way of doing it
sales_total2 =  sum(sales)
sales_tax2 =  (sales_total2 * 0.08) # COMMENT 8% tax would be 0.08 not 8.08 


print(sales_total2, " ", sales_tax2, " ", sales_total2 + sales_tax2)

#I think I fixed it

324
1575
125
500

500    40.0

2524   201.92000000000002
2524   201.92000000000002
2524   201.92000000000002
2524   201.92000000000002

201.92000000000002
201.92000000000002
201.92000000000002
201.92000000000002

2524   201.92000000000002   2725.92

In [68]:
# Strings can be viewed as a list of characters
a_string = "3.14"
for character in a_string:
    print(character, "   ", character.isnumeric())
print()

3     True
.     False
1     True
4     True

In [73]:
# c. For each character in a_string, print if the character is a number or a decimal point
#    Hint: can test for decimal point with  =="."
#    Test your code with several different strings
a_string = "3.14"

for character in a_string:
    print(character, " ", character.isnumeric(), " ", character ==".")

3   True   False
.   False   True
1   True   False
4   True   False

In [15]:
# A set can contain each item only once. It is a good way to collect the 
# unique values in a group of values.
a_set = set()
a_string = "241194285"
for each in a_string:
    a_set.add(each)
print("Unique digits:")
print(a_set)

# if you want the set sorted, create a list from the set and sort the list
a_list = list(a_set)
a_list.sort()
print(a_list)

Unique digits:
{'5', '4', '8', '9', '2', '1'}
['1', '2', '4', '5', '8', '9']

In [74]:
# if / elif / else statements allow your code to make choices
# Here are examples of each...
password = "NotGood"

if len(password) < 8:
    print("Password is too short")
print()

password = "Thisis_a_along_P4ssw0rd!"
if len(password) < 8:
    print("Too short!")
else:
    print("Great!")
print()

if len(password) < 8:
    print("Too short!")
elif len(password) > 16:
    print("Too long!")
else:
    print("Great!")

Password is too short

Great!

Too long!

In [71]:
# looping through a collection and checking each member is a common task
sales = [324, 1575, 125, 500]

# are all of the sales above $200
above = True
for each in sales:
    if each <= 200:
        above = False
# can print the answer after testing all items in the list
print("all > 200", above)
print()

# d. You know enough to replicate many of the string functions from Python.
#    Use a loop to test all of the characters in string. Print True if all
#    of the characters are lowercase. (Ignore punctuation.)


# COMMENT -5 pts Print True if all of the characters are lowercase, not whether each character is lowercase.
#         "miss" print 1 True
#         "Miss" print 1 False
#         "mISs" print 1 False
#         "MISS" print 1 False
a_string = "Mississippi" # try MississIppi and missiSsippi as well
string = True
for each in a_string:
    if each .isupper():
        string = False
print(string)
print()

a_string2 = "MiSsiSsiPpI"

string = True
for each in a_string2:
    if each .isupper():
        string = False
print(string)
print()
print()

a_string3 = "MississIppi"

string = True
for each in a_string3:
    if each .isupper():
        string = False
print(string)
print()
print()

a_string4 = "mississippi"

string = True
for each in a_string4:
    if each .isupper():
        string = False
print(string)
print()
print()

all > 200 False

False

False


False


True

-----
## 3 Putting It All Together

In [77]:
# a. Create a list of the integers between 1 and 400 that are divisible by 17,
#    print the list

divisible_by_17 = range(1, 401)
#print(divisible_by_17)

#I'm not entirely sure if I'm answering these questions completely
#for number in divisible_by_17:
    #print(number, " ", end= "")
    #if number % 17:
        #print(True)
    #else:
        #print(False)


for i in divisible_by_17:
    if i % 17 == 0:
        print(i)

# COMMENT -5 pts, 18 is not divisible by 17, 35 is not divisible by 17
#         Should print 17, 34, 51, ....

17
34
51
68
85
102
119
136
153
170
187
204
221
238
255
272
289
306
323
340
357
374
391

In [248]:
# b. Does the input string contain all 26 letters? Print True or False.
#    Hints: Don't add anything other than a character to the set. 
#           Consider T and t to be the same (convert all characters to lowercase).

input = "The quickest brown fox, named Jim, jumps over the lazy dog."  # add lazy to the string for a true case
lower_text = input.lower()
letters = lower_text.replace("," , "")
letters_dot = letters.replace(".", "")
letters_space = letters_dot.replace(" ", "")

for i in input:
    a_set = set(letters_space)
if len(a_set) == 26:
        print("True")
else:
        print("False")


print(a_set)
print(letters_space.isalpha())
# COMMENT -5 pts does your code work for "aaaaaaaaaaaaaaaaaaaaaaaaaa" 26a's, I doubt it
#         See Discussion Board for hint

#had to take out the spaces. Many more lines of code than intended, but felt the need to show work? if I need to delete any of these please let me know.

True
{'j', 'v', 'f', 'a', 'y', 'q', 'h', 'o', 'x', 'b', 'e', 'g', 's', 'n', 'p', 'c', 'i', 'r', 'w', 'k', 'm', 'l', 'd', 't', 'u', 'z'}
True

**NOTE:** To finish Lab 1 Part A, upload your completed notebook to the Canvas assignment.